.sucess {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
}

.message h1 {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
