/* shop.jsx */

.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}

.shopTitle img {
  width: 50px;
}
.shopTitle h1 {
  color: yellow;
  text-shadow: 0 0 0.1em black;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

/* product jsx*/

.product {
  border-radius: 15px;
  width: 300px;
  height: 400px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 15px black;
  background-color: white;
}

.imgProduct img {
  width: 100px;
}

.description {
  text-align: center;
  background-color: white;
  width: 50%;
}

.description p,
b {
  background: white;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

/*botão do jsx product*/

.addToCartBttn {
  background-color: transparent;
  border: 2px solid black;
  min-width: 100px;
  padding: 1px 10px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* responsive */

@media screen and (max-width: 1600px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
